body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

#container{
    display: flex;
    align-self: center;
    height: 512px;
    width: 512px;
    flex-wrap: wrap;
}

.title {
    text-align: center;
    font-size: 32px;
    padding: 1%;
}

.grid {
    width: 29px;
    height: 29px;
    border: 1px solid lightcoral;
}

